<h1>User info</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %> 
    <%= @user.errors.count %>  error prohibited this obj from being saved
    <% @user.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
    <% end %>
  <% end %>

  <div class="row">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>

  <div class="row">
    <%= f.label :profile_image, "Image" %>
    <%= f.attachment_field :profile_image %>
  </div>

  <div class="row">
    <%= f.label :introduction %>
    <%= f.text_area :introduction %>
  </div>

  <div class="row">
    <%= f.submit "Update User" %>
  </div>
<% end %>