<div class="row">
  <div class="col-xs-6 col-xs-offset-2">
    <h1>Editing Book</h1>

    <%= form_for(@book) do |f| %>
      <!-- エラーメッセージ -->
      <% if @book.errors.any? %>
        <%= @book.errors.count %> error prohibited this obj from being saved
        <%= @book.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>

      <%= f.label :title %><br>
      <%= f.text_field :title ,class:"form-control"%> 
      <%= f.label :body,"Opinion" %><br>
      <%= f.text_area :body ,class:"form-control"%><br>
      <%= f.submit "Update Book" ,class:"btn btn-primary btn-block" %>

    <% end %>

    <%= link_to "Show",book_path(@book) %> | 
    <%= link_to "Back",books_path %>  
  </div>
</div>
